<?xml version="1.0"?>

<model>
  <name>House 5</name>
  <version>1.0</version>
  <sdf version="1.4">house_5.sdf</sdf>


  <author>
    <name>plumewind</name>
    <email>1508366942@qq.com</email>
  </author>

  <description>
    A model of a simple house for semi-navigation.
  </description>

</model>
